<!DOCTYPE html>
<html>
  <head>
    <% if (title) { %>
      <title><%= title %></title>
    <% } else { %>
      <title>Kara Cosmetics</title>
    <% } %>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <script src="/bundle.js"></script>
  </head>
  <body>
    <div id="content"></div>
    <script>
     <% if (locals.gift) { %>

     const gift = JSON.parse('<%- locals.gift  %>');
     <% } else { %>
     const gift = null;
     <% } %>
     <% if (demo) { %>
     window.attachApp("demo", gift);
     <% } else { %>
     (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'Messenger'));

     window.extAsyncInit = function() {
       // the Messenger Extensions JS SDK is done loading
       MessengerExtensions.getUserID(function success(uids) {
         window.attachApp(uids, gift);
       }, function error(err) {
         window.attachApp();
       });
     };
     <% } %>
    </script>
  </body>
</html>
